@model ToDoApp.Models.Dtos.ProjectDto;

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 d-flex justify-content-center">
            <div class="form-box">
                <form asp-action="Create" method="post" style="display:flex; flex-direction:column;max-width: 300px">
                    <div class="input-box">
                        @Html.LabelFor(model => model.Title, "Tytuł", new { @class="input-label"})
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Tytuł projektu" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-box">
                        @Html.LabelFor(model => model.Description, "Opis", new { @class="input-label"})
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Opis projektu" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-box input-box--submit">
                        <input type="submit" value="Dodaj projekt" name="CreateProject" class="submit-button" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>